# C++ compiled files
*.o
*.so
*.dll

# R profile files
*.Rproj.user
*.Rhistory

# log files
gurobi.log

# system files
.directory
*.kate-swp

# cache
data/intermediate/*

# do not ignore the following files
!.gitkeep

# files with sensitive information
code/rmarkdown/reviewer-comments.md
article/reviewer-comments.pdf

# packrat
packrat/lib*/

# data files
!ala_cache
!GADM_2.8_AUS_adm1.rds
